$menu-text: #27d6bf;
$item-select: #15ffcc62;
$btn-outline: #0fccd3;
$btn-disabled: #808080;

$app-light: white;

$sidebar-light: white;
$sidebar-text-light: #0e0e0e;
$sidebar-shadow-light: #a8a8a85b;
$sidebar-border-light: #ececec;

$items-list-light: white;
$items-list-border-light: #cececea9;

$details-text-light: #0e0e0e;
$details-border-light: #cececea9;

$button-light: #0e0e0e;
$cart-text-light: #0e0e0e;
$item-border-light: #cececea9;

$pref-text-light: #0e0e0e;
$pref-option-light: white;

$button-back-light: #0e0e0e;

$app-dark: #414141;

$sidebar-dark: #222222;
$sidebar-text-dark: white;
$sidebar-shadow-dark: #222222;
$sidebar-border-dark: #222222a9;

$items-list-dark: #525252;
$items-list-border-dark: #2c2c2c;

$details-text-dark: white;
$details-border-dark: #747373;

$button-back-dark: white;
$button-dark: white;

$cart-text-dark: white;
$item-border-dark: #777777;

$pref-text-dark: white;
$pref-option-dark: #222222;
